
section.about{
    margin-top: 2rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
    min-height: 700px;
    /* max-height: 800px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-title{
    display: flex;
    margin-top: 0;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--secondary-color);
    width: 65%;
}

.about-split{
    margin-top: 0px;
    max-width: 65%;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    position: relative;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #484848ad;
    padding-right: 12px;
    flex: 2;
    margin-left: 2rem;
        
}

.experience-title{
    width: 100%;
    margin-top: 2rem;
    border-bottom: 3px solid #FF5A5F;
    padding-bottom: 1rem;
}

.experience-title h2{
    font-size: 1.3rem;
    font-weight: 500;
    color: #2d2c2c;
}

.about-text p{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align:left;
    letter-spacing: 0.5px;
}

.about-text-color{
    font-weight: 500;
    color: #FF5A5F;
}

.experience-cards-container {
    display: flex;
    flex-direction: column;
    padding: 0 8px 0 10px;
    overflow-y: visible; /* remove scrolling */
    max-height: none; /* allow natural height */
}
  
.experience-card {
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin: 0.8rem 0.8rem;
}
  
.experience-card h3 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #484848;
    margin-bottom: 0.3rem;
}
  
.experience-card h4 {
    font-size: 0.9rem;
    font-weight: 500;
    color: #FF5A5F; 
    text-align: left;
    margin-bottom: 0.5rem;
}
  
.experience-card p {
    color: #484848ad;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
  
.skill-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
  
.skill-tag {
    padding: 0.3rem 0.7rem;
    background-color: #ff5a6017;
    color: #FF5A5F;
    border-radius: 50px;
    font-size: 0.85rem;
    font-weight: 500;
}
  
.experience-card.highlighted {
    background-color: #ff5a6010;
    box-shadow: 0 6px 15px rgba(255, 90, 96, 0.3);
}
  
.experience-cards-container::-webkit-scrollbar {
    width: 6px;
}
  
.experience-cards-container::-webkit-scrollbar-thumb {
    background-color: #ff5a60;
    border-radius: 10px;
}
  
.experience-cards-container {
    scrollbar-width: thin;
    scrollbar-color: #ff5a60 transparent;
}

.experience-card:hover {
    background-color: #ff5a6010;
    box-shadow: 0 6px 15px rgba(255, 90, 96, 0.3);
}
  
@media (max-width: 900px) {
    .experience-cards-container {
      max-height: none;
      overflow-y: visible;
    }
  
}
  
.resume-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.1rem;
    font-weight: 500;
    color: #484848;
    gap: 0.3rem;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    margin-left: 1rem;
    border: none;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}
  
.resume-btn .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 0.8rem;
    font-weight: 600;
}
  
.resume-btn:hover {
    color: #FF5A5F; 
}
  
.resume-btn:hover .arrow {
    transform: translate(4px, -4px); 
}


/* Dice spinner styles */

.image-container {
    position:static;
    top: 2rem; 
    align-self: flex-start; 
    width: 250px;
    display: flex;
    justify-content: flex-start;
}

.cube-spinner{
    margin-top: 70%;
    animation: spine-cube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
    
    div {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 5px solid #ff5a60;
        border-radius: 8px;
        background: #ff5a60bb;
        text-align: center;
        font-size: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .face-1 {
        transform: translateZ(100px);
        color: white;
    }
    .face-2 {
        transform: rotateY(90deg) translateZ(100px);
        color: white;
    }
    .face-3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
        color: white;
    }
    .face-4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
        color: white    }
    .face-5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
        color: white    }
    .face-6 {
        transform: rotateX(-90deg) translateZ(100px);
        color: white;
    }
}

@keyframes spine-cube {
    from,
    to{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16%{
        transform: rotateY(-90deg);
    }
    33%{
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50%{
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66%{
        transform: rotateY(-270deg) rotateZ(90deg);
    }
    83%{
        transform: rotateX(90deg);
    }
}


@media only screen and (max-width: 1100px) {
    .about-text {
        max-height: none;
    }
    .about-text p{
        font-size: 1rem;
    }
    .about-split{
        margin-top: 3rem;
    }
}


@media only screen and (max-width: 900px) {
    section.about{
        background-color: #ff5a6017;
    }
    .about-split{
        margin-top: 3rem;
        margin-left: 2rem;
        flex-direction: column;
    }
    .cube-spinner{
        margin-top: -6rem;
        margin-bottom: 18rem;
    }
}

