section.footer{
    margin: 3rem 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer footer h4{
    font-weight: 400;
    margin-bottom: 0.3rem;
    color: var(--secondary-color);
    text-align: center;
    font-size: 0.8rem;
}  


.footer footer span{
    font-size: 14px;
    color: var(--primary-color);
}
