/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');


.nav-bar {
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem 8rem 1.6rem 2rem;
    height: 50px;
    font-size: 1.3rem;
    font-weight: 500;
}

.nav-links ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
}

.nav-links .about{
    animation-delay: 0.1s;
    margin-right: 1.5rem;
}

.nav-links .projects{
    animation-delay: 0.2s;
}

.nav-links .toggle{
    animation-delay: 0.3s;
    height: 50px;
    width: 50px;
}

.header-anchor-tag{
    text-decoration: none;
    color: #484848;
    font: inherit;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.header-button-resume{
    text-decoration: none;
}

.header-anchor-tag:hover {
    color: #FF5A5F;
    transform: translateY(-5px) translateX(-5px);
}

@media only screen and (max-width: 768px) {
    .nav-bar .logo-image{
        margin-left: -2.5rem;
    }
    .nav-links{
        position: absolute;
        right: 1rem;
        font-size: small;
    }
    .motion-button.resume{
        font-size: small;
    }
} */

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem 8rem 1.6rem 2rem;
    height: 50px;
    font-size: 1.3rem;
    font-weight: 500;
}

.nav-links ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
}

.nav-links .about {
    animation-delay: 0.1s;
    margin-right: 1.5rem;
}

.nav-links .projects {
    animation-delay: 0.2s;
}

.nav-links .toggle {
    animation-delay: 0.3s;
    height: 50px;
    width: 50px;
}

.header-anchor-tag {
    text-decoration: none;
    color: var(--text-secondary-color);
    font: inherit;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.header-button-resume {
    text-decoration: none;
}

.header-anchor-tag:hover {
    color: var(--primary-color);
    transform: translateY(-5px) translateX(-5px);
}

@media only screen and (max-width: 768px) {
    .nav-bar .logo-image {
        margin-left: -2.5rem;
    }

    .nav-links {
        position: absolute;
        right: 1rem;
        font-size: small;
    }

    .motion-button.resume {
        font-size: small;
    }
}
